{% extends "website/base/index.html" %}

{% block title %}Home{% endblock%}

{% block body_content%}
      <div class="starter-template">
        <iframe width="100%"
                height="800px"
                src="https://www.youtube-nocookie.com/embed/tSabOoT5k9U"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
{% endblock %}