{% extends 'register/base.html' %}
{% load static %}

{% block title %}
<title>Sign up</title>
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
  <a href="{% url 'website:home_page' %}">
    <img class="mb-4" src="{% static 'website/img/logo.jpeg' %}" alt="logo" style="border-radius: 50%;">
  </a>
  <h1 class="h3 mb-3 fw-normal">Please Sign-Up</h1>
  {% for field in form %}
  <div class="form-floating">
    {{ field }}
    {{ field.label_tag }}
    {{ field.errors }}
  </div>
  {% endfor %}

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  Already have account? - <a class="link-secondary" href="{% url 'register:user_login' %}">Sign-In</a>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
  <p class="mt-5 mb-3 text-muted">&copy; AlphaProject - 2021</p>
</form>
{% endblock %}
